<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chino.courselabasico">



    <!-- pidiendo permiso para poder llamar -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaMaterias">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- agregando la navegacion hacia atras en androis -->
        <activity
            android:name=".DetalleListaMateria"
            android:parentActivityName=".ListaMaterias">

            <!-- soporte para versiones menores a lolliopop -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMaterias" />

        </activity>

        <activity android:name=".ActivityIngresarNotas"
            android:parentActivityName=".ListaMaterias">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMaterias" />

        </activity>
        <activity android:name=".About"
            android:parentActivityName=".ListaMaterias">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMaterias" />
        </activity>

        <activity android:name=".ConfiguracionPorcentajes"
            android:parentActivityName=".ListaMaterias">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ListaMaterias" />
            />
        </activity>



        <activity android:name=".Subnotas"></activity>
    </application>

</manifest>